body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.App {
  padding-bottom: 2.5rem;
}

button {
  line-height: 0px;
  text-transform: capitalize;
  border-width: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.navbar {
  display: flex;
  background-color: rgb(52, 58, 64);
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 0.5em;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 1em;
}
img {
  max-height: 4vh;
}

.options {
  margin-top: 0.5em;
}
.options > button {
  color: white;
  margin-right: 5px;
  font-weight: 100;
  padding: 1px 10px;
  height: 30px;
}

.options > button:hover {
  background-color: white;
  color: rgb(52, 58, 64);
}
form {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.form-input {
  width: 40vw;
  padding: 0.375rem 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.body-btn {
  margin-left: 5px;
  border: 2px solid rgb(52, 58, 64);
  padding: 0 15px;
  font-weight: 500;
}

.body-btn:hover {
  color: white;
  background-color: rgb(52, 58, 64);
}

.my-container {
  width: 100vw;
  display: flex;
  padding: 2% 0%;
  background-color: #fcfbf9;
}
.algo-btn-div {
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
}
.algo-btn-div > button {
  margin-right: 2%;
}

/* .code-container {
  width: 20%;
  flex: 1;
  padding-left: 0.3em;
  border-right: 0.05em solid #30475ede;
  margin-bottom: 5%;
} */

.chart-container,
.code-container {
  width: 35vw;
  flex: 1;
  height: 60vh;
  margin: 0.5em;
  box-shadow: 0px 0px 10px 0px #303960;
  /* margin-left: 0.5em; */
  padding: 0;
  border-radius: 0.3em;
  overflow-y: auto;
}

code {
  border: 0;
}

footer {
  background-color: #30396023;
  text-align: center;
  color: #303960;
  width: 100vw;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
}

.hidden {
  display: none;
}

.clicked {
  background-color: aquamarine;
}

@media (max-width: 577px) {
  .navbar {
    height: 12vh;
    padding-top: 2%;
    flex-direction: column;
  }
  .algo-btn-div {
    padding-right: 0;
    justify-content: center;
    /* overflow-x: scroll; */
  }
  .algo-btn-div > button {
    padding: 3%;
  }

  .my-container {
    flex-direction: column;
  }

  .code-container {
    width: 95vw;
  }

  .chart-container {
    width: 95vw;
    margin-bottom: 5%;
    min-height: 40vh !important;
  }
}
