body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-color: #f5f5f5;
}

.App {
  padding-bottom: 2.5rem;
}

button {
  line-height: 0px;
  text-transform: capitalize;
  border-width: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.navbar {
  display: flex;
  background-color: rgb(52, 58, 64);
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 1% 2%;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 1em;
}

img {
  margin-top: 13%;
  max-height: 4vh;
}

.options {
  margin-top: 0.5em;
}
.options > button {
  color: white;
}

button {
  margin-right: 5px;
  font-weight: 100;
  padding: 1px 10px;
  height: 30px;
  width: 15rem;
}

.options:nth-child(3) {
  margin-right: 0px;
}

.options > button:hover {
  background-color: white;
  color: rgb(52, 58, 64);
}
form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
  padding-right: 1.8%;
  margin-bottom: 0;
}

.form-input {
  width: 40vw;
  padding: 0.375rem 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.num {
  width: 10%;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: large;
  font-weight: 700;
  margin-right: 2%;
  padding: 0;
}

.result > button {
  padding: 1%;
  background-color: #0f9d58c7;
  color: white;
  /* border: 2px solid rgb(81, 87, 94); */
  border: none;
}

.body-btn {
  margin-left: 5px;
  border: 2px solid rgb(81, 87, 94);
  font-weight: 700;
  height: 3.7rem;
}

.body-btn:hover,
.algo-btn-div > button:hover {
  color: white;
  background-color: rgb(33, 37, 41);
}

.my-container {
  width: 100%;
  display: flex;
  background-color: #fcfbf9;
  justify-content: space-around;
}

.algo-btn-div {
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.9%;
}
.algo-btn-div > button {
  margin-right: 1%;
  height: 3.7rem;
  font-weight: 700;
  border: 2px solid rgb(81, 87, 94);
}

/* .code-container 
  width: 20%;
  flex: 1;
  padding-left: 0.3em;
  border-right: 0.05em solid #30475ede;
  margin-bottom: 5%;
} */

.chart-container,
.code-container {
  width: 47%;
  height: 60vh;
  box-shadow: 0px 0px 10px 0px #303960;
  padding: 0;
  border-radius: 0.3em;
  overflow-y: auto;
}

.chart-container {
  overflow: hidden;
}

pre {
  padding: 0 !important;
  margin: 0 !important;
  height: 100% !important;
}

code {
  border: 0;
}

footer {
  background-color: #30396023;
  text-align: center;
  color: #303960;
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
}

.hidden {
  display: none;
}

.clicked {
  background-color: aquamarine;
}

@media (max-width: 577px) {
  .navbar {
    height: 17vh;
    padding: 0%;
    flex-direction: column;
  }
  .algo-btn-div {
    padding-right: 0;
    justify-content: center;
  }
  .algo-btn-div > button {
    padding: 3%;
  }

  .my-container {
    flex-direction: column;
    align-items: center;
  }

  .code-container {
    width: 95vw;
  }

  .chart-container {
    width: 95vw;
    margin-bottom: 5%;
    height: 40vh;
    padding: 0;
    overflow-y: hidden;
  }
}
